[submodule "tools/decomp-toolkit"]
	path = tools/decomp-toolkit
	url = https://github.com/encounter/decomp-toolkit.git
[submodule "tools/dtk-template"]
	path = tools/dtk-template
	url = https://github.com/encounter/dtk-template.git
[submodule "tools/objdiff"]
	path = tools/objdiff
	url = https://github.com/encounter/objdiff.git
[submodule "tools/PorpoiseTool"]
	path = tools/PorpoiseTool
	url = https://github.com/wowjinxy/PorpoiseTool.git
[submodule "tools/m2c"]
	path = tools/m2c
	url = https://github.com/matt-kempster/m2c.git
[submodule "DecompReference/key"]
	path = DecompReference/key
	url = https://github.com/Grien25/key.git
[submodule "DecompReference/mkw"]
	path = DecompReference/mkw
	url = https://github.com/Grien25/mkw.git
[submodule "DecompReference/rb3"]
	path = DecompReference/rb3
	url = https://github.com/Grien25/rb3.git
[submodule "DecompReference/libogc"]
	path = DecompReference/libogc
	url = https://github.com/devkitPro/libogc.git
[submodule "tools/mathwise-studgen007"]
	path = tools/mathwise-studgen007
	url = https://github.com/Grien25/mathwise-studgen007.git
